<div class="content d-flex flex-column flex-column-fluid pt-0" id="kt_content">
    <app-top-buttons (stayOnPage)="stayOnPage=$event" [options]="TopOptions" [form]="f"></app-top-buttons>
    <div class="d-flex flex-column-fluid">
        <div class="container">
            <div class="card card-custom mt-5">
                <div class="card-header card-header-tabs-line">
                    <div class="card-toolbar">
                        <ul class="nav nav-tabs nav-tabs-space-lg nav-tabs-line nav-tabs-bold nav-tabs-line-3x"
                            role="tablist">
                            <li class="nav-item mr-3" (click)="changeTab(tabs.BASIC_TAB)">
                                <a class="nav-link" data-toggle="tab" role="tab"
                                    [class.active]="activeTabId === tabs.BASIC_TAB">
                                    <span class="nav-icon mr-2">
                                        <span class="svg-icon menu-icon"
                                            [inlineSVG]="'assets/media/svg/icons/Communication/Chat-check.svg'">
                                        </span>
                                    </span>
                                    <span class="nav-text font-weight-bold">Detalhes</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane active" role="tabpanel" [class.active]="activeTabId === tabs.BASIC_TAB">
                            <form class="form" (ngSubmit)="save(f)" #f="ngForm">
                                <div class="row">
                                    <div class="col-12 text-right">
                                        <p [hidden]="f.form.valid"> Por favor, preencha todos os campos</p>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-xl-3 col-lg-3 col-form-label text-right">
                                        Nome <span class="required"></span>
                                    </label>
                                    <div class="col-lg-9 col-xl-6">
                                        <input class="form-control form-control-lg form-control-solid" type="text"
                                            name="nome" id="nome" ngModel required autocomplete="off" />
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-xl-3 col-lg-3 col-form-label text-right">
                                        Device ID<span class="required"></span>
                                    </label>
                                    <div class="col-lg-9 col-xl-6">
                                        <input class="form-control form-control-lg form-control-solid" type="text"
                                            name="deviceid" id="deviceid" required autocomplete="off" ngModel
                                            (focusout)="verifyExist('deviceid',item.deviceid)" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-xl-3 col-lg-3 col-form-label text-right">
                                        Número de calibração <span class="required"></span>
                                    </label>
                                    <div class="col-lg-9 col-xl-6">
                                        <input class="form-control form-control-lg form-control-solid" type="text"
                                            name="num_calibracao" id="num_calibracao" ngModel required
                                            autocomplete="off" />
                                    </div>
                                </div>

                                <div class="form-group row" *ngIf='user$.super_administrador==1'>
                                    <label class="col-form-label text-right col-xl-3 col-lg-3">
                                        Empresa <span class="required"></span>
                                    </label>
                                    <div class="col-lg-9 col-xl-6">
                                        <select class="form-control form-control-lg select2 form-control-solid"
                                            id="id_empresa" name="id_empresa" ngModel required [disabled]="!empresas">
                                            <option *ngFor="let item of empresas" value="{{item.id}}">
                                                {{item.primeiro_nome}} </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="separator separator-dashed my-10"></div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>