<div class="content d-flex flex-column flex-column-fluid container">
    <div class="card card-custom gutter-b">
        <div class="card-header">
            <div class="card-title">
                <h3 class="card-label">Cadastros</h3>
            </div>
            <div class="card-toolbar">
            </div>
        </div>
        <div class="card-body">
            <div class="form form-label-right">
                <div class="form-group row">
                    <div class="col-lg-3">
                        <button routerLink="/empresas/new" type="button" class="btn btn-primary">Empresas</button>
                    </div>
                    <div class="col-lg-3">
                        <button routerLink="/sensores/new" type="button" class="btn btn-primary">Sensores</button>
                    </div>
                    <div class="col-lg-3">
                        <button routerLink="/funcionarios/new" type="button"
                            class="btn btn-primary">Funcionários</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>