<ng-container *ngIf="user">
  <div class="card card-custom" [formGroup]="formGroup">
    <!-- begin::Loading -->
    <ng-container *ngIf="isLoading$ | async">
      <div class="progress progress-modal">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar"
          style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </ng-container>
    <!-- end::Loading -->
    <!--begin::Header-->
    <div class="card-header py-3">
      <div class="card-title align-items-start flex-column">
        <h3 class="card-label font-weight-bolder text-dark">Account Information</h3>
        <span class="text-muted font-weight-bold font-size-sm mt-1">Change your account settings</span>
      </div>
      <div class="card-toolbar">
        <button type="submit" [disabled]="formGroup.invalid" class="btn btn-success mr-2" (click)="save()">Save
          Changes</button>
        <button type="reset" class="btn btn-secondary" (click)="cancel()">Cancel</button>
      </div>
    </div>
    <!--end::Header-->
    <!--begin::Form-->
    <div class="form">
      <div class="card-body">
        <!--begin::Heading-->
        <div class="row">
          <label class="col-xl-3"></label>
          <div class="col-lg-9 col-xl-6">
            <h5 class="font-weight-bold mb-6">Account:</h5>
          </div>
        </div>
        <!--begin::Form Group-->
        <div class="form-group row">
          <label class="col-xl-3 col-lg-3 col-form-label">Username</label>
          <div class="col-lg-9 col-xl-6">
            <div>
              <input class="form-control form-control-lg form-control-solid" type="text" formControlName="username"
                [class.is-invalid]="isControlInvalid('username')" [class.is-valid]="isControlValid('username')" />
            </div>
          </div>
        </div>
        <!--begin::Form Group-->
        <div class="form-group row">
          <label class="col-xl-3 col-lg-3 col-form-label">Email Address</label>
          <div class="col-lg-9 col-xl-6">
            <div class="input-group input-group-lg input-group-solid">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-at"></i>
                </span>
              </div>
              <input type="email" class="form-control form-control-lg form-control-solid" placeholder="Email"
                formControlName="email" [class.is-invalid]="isControlInvalid('email')"
                [class.is-valid]="isControlValid('email')" />
            </div>
            <span class="form-text text-muted">Email will not be publicly displayed.
              <a class="font-weight-bold">Learn more</a>.</span>
          </div>
        </div>
        <!--begin::Form Group-->
        <div class="form-group row">
          <label class="col-xl-3 col-lg-3 col-form-label">Language</label>
          <div class="col-lg-9 col-xl-6">
            <select class="form-control form-control-lg form-control-solid" formControlName="language">
              <option>Select Language...</option>
              <option value="id">Bahasa Indonesia - Indonesian</option>
              <option value="msa">Bahasa Melayu - Malay</option>
              <option value="ca">Català - Catalan</option>
              <option value="cs">Čeština - Czech</option>
              <option value="da">Dansk - Danish</option>
              <option value="de">Deutsch - German</option>
              <option value="en">English</option>
              <option value="en-gb">English UK - British English</option>
              <option value="es">Español - Spanish</option>
              <option value="eu">Euskara - Basque (beta)</option>
              <option value="fil">Filipino</option>
              <option value="fr">Français - French</option>
              <option value="ga">Gaeilge - Irish (beta)</option>
              <option value="gl">Galego - Galician (beta)</option>
              <option value="hr">Hrvatski - Croatian</option>
              <option value="it">Italiano - Italian</option>
              <option value="hu">Magyar - Hungarian</option>
              <option value="nl">Nederlands - Dutch</option>
              <option value="no">Norsk - Norwegian</option>
              <option value="pl">Polski - Polish</option>
              <option value="pt">Português - Portuguese</option>
              <option value="ro">Română - Romanian</option>
              <option value="sk">Slovenčina - Slovak</option>
              <option value="fi">Suomi - Finnish</option>
              <option value="sv">Svenska - Swedish</option>
              <option value="vi">Tiếng Việt - Vietnamese</option>
              <option value="tr">Türkçe - Turkish</option>
              <option value="el">Ελληνικά - Greek</option>
              <option value="bg">Български език - Bulgarian</option>
              <option value="ru">Русский - Russian</option>
              <option value="sr">Српски - Serbian</option>
              <option value="uk">Українська мова - Ukrainian</option>
              <option value="he">עִבְרִית - Hebrew</option>
              <option value="ur">اردو - Urdu (beta)</option>
              <option value="ar">العربية - Arabic</option>
              <option value="fa">فارسی - Persian</option>
              <option value="mr">मराठी - Marathi</option>
              <option value="hi">हिन्दी - Hindi</option>
              <option value="bn">বাংলা - Bangla</option>
              <option value="gu">ગુજરાતી - Gujarati</option>
              <option value="ta">தமிழ் - Tamil</option>
              <option value="kn">ಕನ್ನಡ - Kannada</option>
              <option value="th">ภาษาไทย - Thai</option>
              <option value="ko">한국어 - Korean</option>
              <option value="ja">日本語 - Japanese</option>
              <option value="zh-cn">简体中文 - Simplified Chinese</option>
              <option value="zh-tw">繁體中文 - Traditional Chinese</option>
            </select>
          </div>
        </div>
        <!--begin::Form Group-->
        <div class="form-group row align-items-center">
          <label class="col-xl-3 col-lg-3 col-form-label">Communication</label>
          <div class="col-lg-9 col-xl-6">
            <div class="checkbox-inline">
              <label class="checkbox">
                <input type="checkbox" formControlName="communicationEmail" />
                <span></span>Email</label>
              <label class="checkbox">
                <input type="checkbox" formControlName="communicationPhone" />
                <span></span>Phone</label>
            </div>
          </div>
        </div>
        <!--begin::Form Group-->
        <div class="separator separator-dashed my-5"></div>
        <!--begin::Form Group-->
        <div class="row">
          <label class="col-xl-3"></label>
          <div class="col-lg-9 col-xl-6">
            <h5 class="font-weight-bold mb-6">Security:</h5>
          </div>
        </div>
        <!--begin::Form Group-->
        <div class="form-group row">
          <label class="col-xl-3 col-lg-3 col-form-label">Login verification</label>
          <div class="col-lg-9 col-xl-6">
            <button type="button" class="btn btn-light-primary font-weight-bold btn-sm">Setup login
              verification</button>
            <p class="form-text text-muted pt-2">After you log in, you will be asked for additional information to
              confirm your identity and protect your account from being compromised.
              <a class="font-weight-bold cursor-pointer">Learn more</a>.</p>
          </div>
        </div>
        <!--begin::Form Group-->
        <div class="form-group row">
          <label class="col-xl-3 col-lg-3 col-form-label">Password reset verification</label>
          <div class="col-lg-9 col-xl-6">
            <div class="checkbox-inline">
              <label class="checkbox m-0">
                <input type="checkbox" />
                <span></span>Require personal information to reset your password.</label>
            </div>
            <p class="form-text text-muted py-2">For extra security, this requires you to confirm your email or phone
              number when you reset your password.
              <a class="font-weight-boldk cursor-pointer">Learn more</a>.</p>
            <button type="button" class="btn btn-light-danger font-weight-bold btn-sm">Deactivate your account
              ?</button>
          </div>
        </div>
      </div>
    </div>
    <!--end::Form-->
  </div>
</ng-container>