<div class="content d-flex flex-column flex-column-fluid pt-0" id="kt_content">
    <app-top-buttons (stayOnPage)="stayOnPage=$event" [options]="TopOptions" [form]="f"></app-top-buttons>
    <div class="d-flex flex-column-fluid">
        <div class="container">
            <div class="card card-custom mt-5">
                <div class="card-header card-header-tabs-line">
                    <div class="card-title m-0">
                        <ul class="nav nav-tabs nav-tabs-space-lg nav-tabs-line nav-tabs-bold nav-tabs-line-3x"
                            role="tablist">
                            <li class="nav-item mr-3" (click)="changeTab(tabs.BASIC_TAB)"
                                *ngIf="user$.super_administrador ==1">
                                <a class="nav-link" data-toggle="tab" role="tab"
                                    [class.active]="activeTabId === tabs.BASIC_TAB">
                                    <span class="nav-icon mr-2">
                                        <span class="svg-icon menu-icon"
                                            [inlineSVG]="'assets/media/svg/icons/Communication/Chat-check.svg'">
                                        </span>
                                    </span>
                                    <span class="nav-text font-weight-bold">Detalhes</span>
                                </a>
                            </li>
                            <li class="nav-item mr-3" (click)="changeTab(tabs.NOTIFICACAO_TAB)">
                                <a class="nav-link" data-toggle="tab" role="tab"
                                    [class.active]="activeTabId === tabs.NOTIFICACAO_TAB">
                                    <span class="nav-icon mr-2">
                                        <span class="svg-icon menu-icon"
                                            [inlineSVG]="'assets/media/svg/icons/Devices/Display1.svg'">
                                        </span>
                                    </span>
                                    <span class="nav-text font-weight-bold"> Notificações</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="card-body">
                    <app-spinner [hidden]="!showLoadingSpinner"></app-spinner>
                    <form class="form" (ngSubmit)="save(f)" #f="ngForm">
                        <div class="tab-content pt-5" [hidden]="showLoadingSpinner">
                            <div class="tab-pane active" role="tabpanel" [class.active]="activeTabId === tabs.BASIC_TAB"
                                *ngIf="user$.super_administrador ==1">
                                <div class="form-group row">
                                    <label class="col-xl-3 col-lg-3 col-form-label text-right">Nome
                                        <span class="required"></span> </label>
                                    <div class="col-lg-9 col-xl-6">
                                        <input class="form-control form-control-lg form-control-solid" type="text"
                                            name="nome" id="nome" [(ngModel)]="item.nome" required autocomplete="off">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-xl-3 col-lg-3 col-form-label text-right">Device ID<span
                                            class="required"></span> </label>
                                    <div class="col-lg-6 col-xl-6">
                                        <input class="form-control form-control-lg form-control-solid" type="text"
                                            name="deviceid" id="deviceid" [(ngModel)]="item.deviceid" disabled />
                                    </div>
                                    <div class="col-lg-3 col-xl-3">
                                        <button class="btn btn-primary  " type="button"
                                            (click)="showPopupChangeDevice()">Trocar DeviceID</button>
                                    </div>

                                </div>
                                <div class="form-group row">
                                    <label class="col-xl-3 col-lg-3 col-form-label text-right">
                                        Certificado de calibração <span class="required"></span>
                                    </label>
                                    <div class="col-lg-9 col-xl-6">
                                        <input class="form-control form-control-lg form-control-solid" type="text"
                                            name="num_calibracao" id="num_calibracao" [(ngModel)]="item.num_calibracao"
                                            required autocomplete="off" />
                                    </div>
                                </div>

                                <div class="form-group row" *ngIf='user$.super_administrador==1'>
                                    <label class="col-form-label text-right col-xl-3 col-lg-3">Empresa <span
                                            class="required"></span></label>
                                    <div class="col-lg-9 col-xl-6">
                                        <select class="form-control form-control-lg select2 form-control-solid"
                                            id="id_empresa" name="id_empresa" [(ngModel)]="item.id_empresa" required
                                            [disabled]="!empresas">
                                            <option *ngFor="let item of empresas" value="{{item.id}}">
                                                {{item.primeiro_nome}} </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="separator separator-dashed my-10"></div>
                                <div class="form-group row">
                                    <label class="col-xl-3 col-lg-3 col-form-label text-right">Ativo</label>
                                    <div class="col-lg-9 col-xl-6">
                                        <select name="ativo" class="form-control form-control-lg form-control-solid"
                                            [(ngModel)]="item.ativo">
                                            <option value="0">Não</option>
                                            <option value="1">Sim</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" role="tabpanel" [class.active]="activeTabId === tabs.NOTIFICACAO_TAB">
                                <div class="form-group row text-center">
                                    <div class="col ">
                                        <h5>Sensor: {{item.nome}}</h5>
                                        <h5></h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group row">
                                            <label class="col-xl-3 col-lg-3 col-form-label text-right">
                                                Temperatura <br>
                                                Ativo
                                            </label>
                                            <div class="col-lg-9 col-xl-6">
                                                <select name="temp_ativo"
                                                    class="form-control form-control-lg form-control-solid"
                                                    [(ngModel)]="item.temp_ativo">
                                                    <option value="">-</option>
                                                    <option value="1">Sim</option>
                                                    <option value="0">Não</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-xl-3 col-lg-3 col-form-label text-right">
                                                Temperatura Ideal<br>
                                                >=
                                            </label>
                                            <div class="col-lg-9 col-xl-6">
                                                <input class="form-control form-control-lg form-control-solid"
                                                    type="number" step='0.01' name="temp_maior_igual"
                                                    id="temp_maior_igual" [(ngModel)]="item.temp_maior_igual"
                                                    required />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-xl-3 col-lg-3 col-form-label text-right">
                                                Temperatura Ideal<br>
                                                <= </label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        <input class="form-control form-control-lg form-control-solid"
                                                            type="number" step='0.01' name="temp_menor_igual"
                                                            id="temp_menor_igual" [(ngModel)]="item.temp_menor_igual"
                                                            required />
                                                    </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group row">
                                            <label class="col-xl-3 col-lg-3 col-form-label text-right">
                                                Umidade <br>
                                                Ativo
                                            </label>
                                            <div class="col-lg-9 col-xl-6">
                                                <select name="umid_ativo"
                                                    class="form-control form-control-lg form-control-solid"
                                                    [(ngModel)]="item.umid_ativo">
                                                    <option value="">-</option>
                                                    <option value="1">Sim</option>
                                                    <option value="0">Não</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-xl-3 col-lg-3 col-form-label text-right">
                                                Umidade Ideal<br>
                                                >=
                                            </label>
                                            <div class="col-lg-9 col-xl-6">
                                                <input class="form-control form-control-lg form-control-solid"
                                                    type="number" step='0.01' name="umid_maior_igual"
                                                    id="umid_maior_igual" [(ngModel)]="item.umid_maior_igual"
                                                    required />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-xl-3 col-lg-3 col-form-label text-right">
                                                Umidade Ideal<br>
                                                <= </label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        <input class="form-control form-control-lg form-control-solid"
                                                            type="number" step='0.01' name="umid_menor_igual"
                                                            id="umid_menor_igual" [(ngModel)]="item.umid_menor_igual"
                                                            required />
                                                    </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="separator separator-dashed my-10"></div>
                                    <div class="col-12">
                                        <div class="form-group row">
                                            <label class="col-xl-3 col-lg-3 col-form-label text-right">
                                                Tempo de notificação
                                            </label>
                                            <div class="col-lg-9 col-xl-6">
                                                <select name="tempo_notificacao"
                                                    class="form-control form-control-lg form-control-solid"
                                                    [(ngModel)]="item.tempo_notificacao">
                                                    <option value="0" selected>Sempre</option>
                                                    <option value="1">1 minuto</option>
                                                    <option value="5">5 minutos</option>
                                                    <option value="10">10 minutos</option>
                                                    <option value="15">15 minutos</option>
                                                    <option value="30">30 minutos</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group row">
                                            <label class="col-xl-3 col-lg-3 col-form-label text-right">
                                                Última notificação
                                            </label>
                                            <div class="col-lg-9 col-xl-6">
                                                <p style="margin: 10px 0;">
                                                    {{item.ultima_notificacao | date:'dd/MM/yyyy, HH:mm'}}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>