<div class="card card-custom gutter-b">
    <div class="card-body">
        <div class="form form-label-right">
            <div class="form-group row">
                <div class="col-lg-3">
                    <div class="row">
                        <div class="col-lg-12">
                            <select class="form-control" name="status" placeholder="Filtrar por visibilidade"
                                (change)="filterByStatus($event)">
                                <option value="">Todos</option>
                                <option value="1">Ativos</option>
                                <option value="0">Inativos</option>
                            </select>
                            <small class="form-text text-muted"><b>Filtro:</b> Ativos/Inativos</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <input type="search" class="form-control" name="searchText" placeholder="Pesquisar"
                        (input)="onSearchChange($event.target.value)" />
                    <small class="form-text text-muted"><b>Digite</b> sua pesquisa</small>
                </div>
                <div class="col-lg-3" *ngIf="user$.super_administrador ==1">
                    <div class="card-toolbar">
                        <button routerLink="/{{page}}/new" type="button" class="btn btn-primary">Novo Sensor</button>
                    </div>
                </div>
            </div>
        </div>
        <ng-container>
            <div class="form">
                <div class="row align-items-center form-group-actions margin-top-20 margin-bottom-20">
                    <div class="col-xl-12">
                        <div class="form-group form-group-inline">
                            <div class="form-label form-label-no-wrap">
                                <label class="font-bold font-danger">
                                    <span>Itens selecionados:
                                        <strong> {{selectedItems.length}}</strong>
                                    </span>
                                </label>
                            </div>
                            <div [hidden]="this.selectedItems.length == 0">
                                <button type="button" class="btn btn-danger font-weight-bolder font-size-sm mr-1"
                                    (click)="deleteAll()">
                                    <i class="fa fa-trash"></i> Apagar selecionados
                                </button>&nbsp;
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>

        <app-spinner [hidden]="!showLoadingSpinner"></app-spinner>
        <div>
            <div class="row">
                <div class="col-12">
                    <button type='button' class="btn btn-icon btn-light btn-hover-primary btn-sm mx-3"
                        (click)="viewType='list'" checked='true'>
                        <i class="fa fa-list"></i>
                    </button>
                    <button type='button' class="btn btn-icon btn-light btn-hover-primary btn-sm mx-3"
                        (click)="viewType='gallery'">
                        <i class="fa fa-clone"></i>
                    </button>
                </div>
            </div>
        </div>
        <div *ngIf="viewType==='list'; else gallery">
            <div class="table-responsive angular-bootstrap-table" [hidden]="showLoadingSpinner">
                <table class="table table-head-custom table-vertical-center overflow-hidden">
                    <thead>
                        <th class="selection-cell-header" data-row-selection="true">
                            <label class="checkbox checkbox-single">
                                <input type="checkbox" (change)="selectAll($event)" [disabled]="items?.length==0"
                                    [checked]="checkedSelectAll" /><span></span>
                            </label>
                        </th>
                        <th>Nome</th>
                        <th>Device ID</th>
                        <th>Temperatura</th>
                        <th>Umidade</th>
                        <th>Ativo</th>
                        <th>Offline</th>
                        <th>Opções</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of items" [ngClass]="!item?.range?.inRange ? 'text-danger':''">
                            <td class="selection-cell">
                                <label class="checkbox checkbox-single">
                                    <input type="checkbox" (change)="selectItem($event,item)"
                                        [checked]="item.checked" />
                                    <span></span>
                                </label>
                            </td>
                            <td class="pointer" (click)='openModalSensor(item)'>{{item.nome}}</td>
                            <td>{{item.deviceid}}</td>
                            <td class="text-center">
                                <span *ngIf="item?.temp_ativo">
                                    {{item.atual_temp}} {{gaugeOptions?.temp}}
                                </span>
                            </td>
                            <td class="text-center">
                                <span *ngIf="item?.umid_ativo">
                                    {{item.atual_umid}} {{gaugeOptions?.umid}}
                                </span>
                            </td>
                            <td>
                                <span class="switch switch-outline switch-icon switch-success">
                                    <label>
                                        <input type="checkbox" name="select" [(ngModel)]="item.ativo"
                                            (input)="switchChange($event,item)" />
                                        <span></span>
                                    </label>
                                </span>
                            </td>
                            <td> {{item.online?'Sim':'Não'}}</td>
                            <td>
                                <a routerLink="/{{page}}/edit/{{item.id}}" title="Edit {{page}}"
                                    class="btn btn-icon btn-light btn-hover-primary btn-sm mx-3">
                                    <span [inlineSVG]="'assets/media/svg/icons/Communication/Write.svg'"
                                        class="svg-icon svg-icon-md svg-icon-primary">
                                    </span>
                                </a>
                                <a title="Update {{item.deviceid}}"
                                    class="btn btn-icon btn-light btn-hover-warning btn-sm"
                                    (click)="updateSensorValues(item.deviceid)">
                                    <span [inlineSVG]="'assets/media/svg/icons/Devices/Wi-fi.svg'"
                                        class="svg-icon svg-icon-md svg-icon-warning">
                                    </span>
                                </a>
                                <a title="Delete {{page}}" class="btn btn-icon btn-light btn-hover-danger btn-sm"
                                    (click)="deleteChange(item.id)">
                                    <span [inlineSVG]="'assets/media/svg/icons/General/Trash.svg'"
                                        class="svg-icon svg-icon-md svg-icon-danger">
                                    </span>
                                </a>

                            </td>
                        </tr>
                        <tr *ngIf="items?.length==0">
                            <td colspan="99" class="text-center">Não há registos</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <ng-template #gallery>
            <div class='row'>
                <div class="col-6 " *ngFor="let item of items">
                    <div class="row">
                        <div class="col-12 text-center" [ngClass]="!item?.range?.inRange ? 'text-danger':''"
                            (click)='openModalSensor(item)'>
                            <h4>Sensor: {{item.nome}}</h4>
                            <p>{{item.deviceid}}</p>
                        </div>
                        <div class="col-6">
                            <ngx-gauge [type]="gaugeOptions.type" [value]="item?.atual_temp" label="Temperatura"
                                [append]="gaugeOptions?.temp" [thick]="gaugeOptions.thick" [cap]="gaugeOptions.cap"
                                *ngIf="item?.temp_ativo">
                            </ngx-gauge>
                        </div>
                        <div class="col-6">
                            <ngx-gauge [type]="gaugeOptions.type" [value]="item?.atual_umid" label="Umidade"
                                [append]="gaugeOptions?.umid" [thick]="gaugeOptions.thick" [cap]="gaugeOptions.cap"
                                *ngIf="item?.umid_ativo">
                            </ngx-gauge>
                        </div>
                        <div class="col-12 text-center">
                            <a routerLink="/{{page}}/edit/{{item.id}}" title="Edit {{page}}"
                                class="btn btn-icon btn-light btn-hover-primary btn-sm mx-3">
                                <span [inlineSVG]="'assets/media/svg/icons/Communication/Write.svg'"
                                    class="svg-icon svg-icon-md svg-icon-primary">
                                </span>
                            </a>
                            <a title="Update {{item.deviceid}}" class="btn btn-icon btn-light btn-hover-warning btn-sm"
                                (click)="updateSensorValues(item.deviceid)">
                                <span [inlineSVG]="'assets/media/svg/icons/Devices/Wi-fi.svg'"
                                    class="svg-icon svg-icon-md svg-icon-warning">
                                </span>
                            </a>
                            <a title="Delete {{page}}" class="btn btn-icon btn-light btn-hover-danger btn-sm"
                                (click)="deleteChange(item.id)">
                                <span [inlineSVG]="'assets/media/svg/icons/General/Trash.svg'"
                                    class="svg-icon svg-icon-md svg-icon-danger">
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>

        <!-- <app-paginator class="d-flex justify-content-between align-items-center flex-wrap" ></app-paginator> -->
    </div>
</div>