<table width="100%">
    <thead>
        <tr>
            <th>
                <img src="http://app-incomenda-web.test/imgs/elem/logo.png" alt="Incomenda" width="150px">
            </th>
        </tr>
        <tr>
            <th>Encomenda # <span></span> </th>
            <th>Data: <span></span> </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <p>Dados de Faturação</p>
                <p>Nome: <span></span></p>
                <p>Morada: <span></span></p>
                <p>Cod. postal: <span></span></p>
                <p>Localidade: <span></span></p>
                <p>Pais: <span></span></p>
                <p>Email: <span></span></p>
                <p>Contribuinte: <span></span></p>
            </td>
            <td>
                <p>Dados de Envio</p>
                <p>Nome: <span></span></p>
                <p>Morada: <span></span></p>
                <p>Cod. postal: <span></span></p>
                <p>Localidade: <span></span></p>
                <p>Pais: <span></span></p>
                <p>Contacto: <span></span></p>
            </td>
        </tr>
        <tr>
            <td>
                <h5>Previsão de entrega</h5>
                <p>5 de Abril de 2021</p>
            </td>
        </tr>
        <tr>

        </tr>
    </tbody>
</table>
<table width="100%">
    <thead>
        <tr>
            <th>Fornecedor: <span>L Ribeiro</span></th>
        </tr>
        <tr>
            <th>Produto</th>
            <th>Preço</th>
            <th>Quantidade</th>
            <th>Sub-Total</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <div style="display: inline-block;"> <img src="https://app.incomenda.pt/ean_code_images/3810/581.png" alt="" width="20px"></div>
                <div style="display: inline-block;">
                    <p>EAN: <span></span></p>
                    <p>Leite</p>
                </div>
            </td>
            <td>6,99</td>
            <td>10</td>
            <td>69,90</td>
        </tr>
    </tbody>
</table>
<table width="100%">
    <tbody>
        <tr>
            <td>Sub-Total:<span>asdfasdf</span> </td>
        </tr>
        <tr>
            <td>IVA:<span>asdfasdf</span> </td>
        </tr>
        <tr>
            <td>Total:<span>asdfasdf</span> </td>
        </tr>
    </tbody>
</table>