<div class="modal-content text-center">
    <div class="modal-header">
        <h5 class="modal-title text-center">{{item?.nome}}</h5>
        <button type="button" class="close" (click)="close()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <section class="row">
            <div class='col-12'>
                <h3>{{item?.atual_temp}} °C / {{item?.atual_umid}} %</h3>
            </div>
            <div class='col-12'>
                <p>às {{item?.date | date:'HH:mm' : 'UTC'}} de {{item?.date | date:'dd/MM/yyyy'}}</p>
            </div>
        </section>
        <section class="row">
            <div class='col' *ngIf="item?.temp_ativo==1">
                <p>Faixa de temperatura <br> ideal</p>
                <p [ngClass]="!item?.range?.temperatura ?'danger' : ''">
                    {{item?.temp_maior_igual}} {{gaugeOptions?.temp}}
                    /
                    {{item?.temp_menor_igual}} {{gaugeOptions?.temp}}
                </p>
            </div>
            <div class='col' *ngIf="item?.umid_ativo==1">
                <p>Faixa de umidade <br> ideal</p>
                <p [ngClass]="!item?.range?.umidade ?'danger' : ''">
                    {{item?.umid_maior_igual}} {{gaugeOptions?.umid}}
                    /
                    {{item?.umid_menor_igual}} {{gaugeOptions?.umid}}
                </p>
            </div>
        </section>
        <section class="row">
            <div class='col' *ngIf="item?.temp_ativo==1">
                <p>Temperatura Hoje: Min / Max</p>
                <p>
                    {{sensorsMinMax?.temp_min}} {{gaugeOptions?.temp}}
                    /
                    {{sensorsMinMax?.temp_max}} {{gaugeOptions?.temp}}
                </p>
            </div>
            <div class='col' *ngIf="item?.umid_ativo==1">
                <p>Umidade Hoje: Min / Max</p>
                <p>
                    {{sensorsMinMax?.umid_min}} {{gaugeOptions?.umid}}
                    /
                    {{sensorsMinMax?.umid_max}} {{gaugeOptions?.umid}}
                </p>
            </div>
        </section>
        <section class="pt-4" *ngIf="sensorsData.length>0">
            <div class='row p-v4'>
                <div class="col">
                    <h4>Última(s) {{qty}} leitura(s)</h4>
                </div>
            </div>

            <div class="row" *ngFor="let i of sensorsData">
                <div class="col">
                    <h5>{{i.date | date:'HH:mm' : 'UTC'}}</h5>
                </div>
                <div class="col">
                    {{i?.atual_temp}} {{gaugeOptions?.temp}}
                </div>
                <div class="col">
                    {{i?.atual_umid}} {{gaugeOptions?.umid}}
                </div>
            </div>
        </section>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="close()">Fechar</button>
    </div>
</div>